[submodule "sonic-schema"]
	path = sonic-schema
	url = https://github.com/sonic-ng/sonic-schema.git
[submodule "sonic-sysdb"]
	path = sonic-sysdb
	url = https://github.com/sonic-ng/sonic-sysdb.git
[submodule "crossdb"]
	path = crossdb
	url = https://github.com/crossdb-org/crossdb.git
[submodule "crossdb-python"]
	path = crossdb-python
	url = https://github.com/crossdb-org/crossdb-python.git
[submodule "sonic-cli"]
	path = sonic-cli
	url = https://github.com/sonic-ng/sonic-cli.git
[submodule "sonic-osmgr"]
	path = sonic-osmgr
	url = https://github.com/sonic-ng/sonic-osmgr.git
